/* This is the css for the home, serial number and history page */
body { 
	background: #000000; 
	margin: 3;
}

/*Main Titile*/
h1 {
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Sub titles*/
h5{
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
}

h4 {
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
	text-align: center;
}


h3 {
	border: 2px solid white;
}

.facts {
	font-size: 20px;
	text-align: left;
	
	
}

.imagethree {
	width: 800px;
	float: left;
	padding: 10px;
}


/* This deals with the dimensions and function of the box that contains the nav bar*/
.bar-menu {
	overflow: hidden;
	width: 100%;
	z-index: 1;
	top: 0;
	position: sticky;
	width: 1320px;
	height: 50px;
	background: #000000;
	
}

/* The bar is the text that is in the nav bar*/
.bar {
	font-size: 13px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FFFFFF;
	display: block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	float: left;
	padding-left: 50px;
	text-decoration: none;
}

/* Hovers over nav bar*/
.bar:hover{
	color: grey;
	text-decoration: underline;
	
}

.image {
	width: 433px;
	border: 2px solid white;
	float: left;
}

/*First Image on Home */
.imageone{
	width: 920px;
	border: 4px solid white;
	float: left;
	
}

/* Second image on home*/
.imagetwo{
	width: 926px;
	border: 4px solid white;
	float: left;
	position: relative;
	left: 8px;
	top: 5px;
	
}

/* box next to image one*/
.smallb {
	border: 4px solid white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	position: relative;
	left: 8px;
	height: 610px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	width: 365px;	
}

/*Resets float for the next line of images */
.linetwo {
	clear: both;
}

/* box in front of image two*/
.smallbtwo {
	border: 4px solid white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	position: relative;
	float: left;
	height: 610px;
	color: #FFFFFF;
	text-align: center;
	width: 365px;
	top: 5px;
}



p {
	font-size: 15px;
	color: white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

.numbers {
	font-size: 18px;
	color: white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	
}

/*Removes the purple and blue link colors on text */
a { 
	color: grey;
	text-decoration: none;
	
}







